/* includes alternating gray and white with on-hover color */

.mystyle {
    font-size: 11pt; 
    font-family: Arial;
    border-collapse: collapse; 
    border: 1px solid silver;

}

.mystyle td {
    padding: 5px;
}

.mystyle th {
    text-align:left;
    padding: 5px;
}

.mystyle tr:nth-child(even) {
    background: #E0E0E0;
}

.circle{
  background-color:blue;
  height:20px;
  width:20px;
  border-radius:50%;
  display: inline-block;
}

.celltext {
padding-left:5px;
display: inline-block;
}